body{
    display: grid;
    grid-template-columns: minmax(200px, 20%) repeat(2, 1fr);
    grid-template-rows: 9% repeat(2, 1fr);
    min-height: 100vh;
    grid-template-areas: 
        "nombreSistem menuSuperior menuSuperior"
        "menuLateral contenido contenido"
        "menuLateral contenido contenido"
    ;
}

#nombre{
    color: white;
    font-family: 'Poppins', 'Montserrat', 'Roboto', Arial, sans-serif;
}

#nombre:hover{
    color: #23272b;
}

.tabla-scroll-vertical {
    max-height: 400px !important;   /* Ajusta la altura según lo que necesites */
    overflow-y: auto !important;
}

.tabla-scroll-vertical table {
    margin-bottom: 0 !important; /* Quita el margen inferior de la tabla */
}

#cerrar li a:hover{
    color: #0d6efd;
}

#cerrar li a:active,
#cerrar li a:focus {
    background-color: transparent !important;
    color: #23272b;
}

#nombreUsuario li{
     font-family: 'Poppins', 'Montserrat', 'Roboto', Arial, sans-serif;
}


.menu-superior{
    background-color: #198754;
    grid-area: menuSuperior;
    display: grid;
    justify-content: end;
    align-content: center;
}

#users {
    position: relative;
    right: 40%;
    font-size: 16px;
}

#users i{
    font-size: 20px;
}

.nombre-sistem{
    color: white;
    background-color: #145943;
    grid-area: nombreSistem;
    display: grid;
    place-content: center;
    font-family: fantasy;
    letter-spacing: 1px;
}


#menu-lateral{
    display: grid;
    grid-area: menuLateral;
    font-family: 'Poppins', 'Montserrat', 'Roboto', Arial, sans-serif;
    font-size: 1.3rem;
}

#tablaMisSolicitudes,
#tablaMisSolicitudes th,
#tablaMisSolicitudes td {
    font-family: 'Poppins', 'Montserrat', 'Roboto', Arial, sans-serif !important;
}
#tablaSolicitudes,
#tablaSolicitudes th,
#tablaSolicitudes td {
    font-family: 'Poppins', 'Montserrat', 'Roboto', Arial, sans-serif !important;
}

#tablaCargo,
#tablaCargo th,
#tablaCargo td{
        font-family: 'Poppins', 'Montserrat', 'Roboto', Arial, sans-serif !important;
}
#tablaUsuario,
#tablaUsuario th,
#tablaUsuario td{
        font-family: 'Poppins', 'Montserrat', 'Roboto', Arial, sans-serif !important;
}
#tablaDepartamento,
#tablaDepartamento th,
#tablaDepartamento td{
        font-family: 'Poppins', 'Montserrat', 'Roboto', Arial, sans-serif !important;
}


#menu-lateral li:hover {
    background-color: #145943;
    border-radius: 30px;
}

#repor li a,
#confi li a {
    display: inline-block;
    width: auto;
    padding-left: 16px;
    padding-right: 16px;
        border-radius: 30px;

}

#repor li,
#confi li {
    display: inline-block;
    width: auto;
    border-radius: 30px;
}

#repor li a:hover,
#confi li a:hover{
    background-color: #23272b;
    border-radius: 30px;
}

#repor li:last-child,
#confi li:last-child {
    margin-bottom: 8px;
}


.contenido{
    grid-area: contenido;
    background-color: #ffffff;
    font-family: 'Poppins', 'Montserrat', 'Roboto', Arial, sans-serif !important;
}